body {
  background-color: #0B0C10;
  padding-top:50px;
};

.body-elem {
  background-color: #c19f54;
};

.project-entry {
  background-color: #e5e5e5;
};

.project-title {
  background-color: #c19f54;
  font-weight: bold;
};

.project-title a {
  color: #FFFFFF;
}

.project-body {
  background-color: #e5e5e5;
}

.project-summary {
  background-color: #c19f54;
}

.project-description {
  background-color: #FFFFFF;
}

.recommendation-bar {
  background-color: #e5e5e5;
}

.recommendation-bar-title {
  background-color: #c19f54;
}
