.project-entry-field {
  text-align: left;
};

.project-title a {
  font-size: 20px;
  font-weight: bold;
};

.project-title {
  text-align: center;
}

.project-summary {
  font-weight: bold
}

img {
  border-radius: 50%;
  border: 2px solid #021a40;
};
