<div class="container" id="project-list">
    <ul class="list-group">
        <% projects.forEach(function(project) { %>
            <% include ./project-entry %>
        <% }); %>
    </ul>
    <% include pagination.ejs %>
</div>
