<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/common/head %>
    <% include ../partials/index/index-scripts %>
</head>
<body class="container">

<header class="body-elem">
    <% include ../partials/common/header %>
</header>

<main>
    <div class="jumbotron body-elem">
        <h1>Hackaday Projects</h1>
        <p>Welcome to Hackaday List App</p>
    </div>
    <% include ../partials/index/project-list %>
</main>

<footer class="body-elem">
    <% include ../partials/common/footer %>
</footer>

</body>
</html>
