<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Hackaday Projects</h1>
        <p>Welcome to Hackaday List App</p>
    </div>
    <% include ../partials/project-list %>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>

<script>
    function addListener(runAgain) {
        $('.page-button').click(function (event) {
            var pages = "<%= last_page %>"

            // get the page number from the id
            var id = event.target.id;
            var pageString;
            if (id === 'first') {
                pageString = 1;
            } else if (id === 'last') {
                pageString = pages;
            } else {
                pageString = id;
            }
            const targetPageNumber = parseInt(pageString, 10);

            $.get( "http://localhost:8080/rest/v1/projects?page=" + targetPageNumber, function( data ) {
                document.getElementById('project-list').innerHTML = data;
                $("html, body").animate({ scrollTop: 0 }, "slow");
                addListener();
            });
        });
    }
    addListener()
</script>
